::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(178, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(178, 255, 255, 1);
}

.FunctionBar {
    width: auto;
    text-align: center;
    height: 250px;
    background-color: e8e8e8;
    border-radius: 20px;
    padding: 10px;
}

.ChatFunctionProf {
    width: auto;
    height: calc(100% - 260px);
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: #B2FFFF;
    margin-top: 10px;
    padding: 10px;
}

.ChatFunctionStudent {
    width: auto;
    height: calc(100% - 260px);
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: #B2FFFF;
    margin-top: 10px;
    padding: 10px;
}

#help_button {
    margin-left: 87px;
    position: absolute;
}

#logout_button {
    margin-left: 120px;
    position: absolute;
}

#First,
#Last,
#Previous,
#Next {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

#draw_button,
#switchTools {
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-weight: 550;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #B2FFFF;
    color: black;
    border: 2px solid black;
    border-radius: 12px;
}

#Draw {
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-weight: 550;
    transition-duration: 0.4s;
    cursor: pointer;
    color: white;
    border-radius: 12px;
    border: none;
}

#FunctionAndChat {
    width: 350px;
    max-height: calc(100% - 5px);
    height: 100%;
    background-color: white;
    padding: 10px;
    float: right;
    position: relative;
    border-radius: 20px;
}

#chat_student_description,
#chat_dozent_description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}

#usrmessage_anonymous_label {
    font-family: Arial, Helvetica, sans-serif;
}

#enable_anonymous_label {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: large;
}

#enable_tools_label {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: large;
}

#chat_dozent_chatbox {
    height: calc(100% - 90px);
    width: auto;
    word-break: break-word;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: larger;
    overflow-y: auto;
    background-color: white;
}

#usrmessage {
    height: calc(100% - 110px);
    width: 100%;
    word-break: break-word;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: larger;
}

#student_chatbox_submit {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: larger;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 4px solid #B2FFFF;
    border-radius: 12px;
    float: right;
}

#student_chatbox_submit:hover {
    background-color: #B2FFFF;
}

#Page {
    max-height: calc(100% - 5px);
    height: 100%;
    padding: 1px;
    max-width: calc(100% - 360px);
    float: left;
    position: relative;
}

.PageImg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 20px;
    z-index: -2;
}

.PageCanvas {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#PageCanvasSaving {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.color-field {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #e8e8e8;
    margin: 0 1px;
    color: transparent;
    outline: none;
    background: transparent;
}

#black {
    border-color: transparent;
}

.text {
    width: 40px;
    height: 40px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 10%;
}

.eraser {
    width: 40px;
    height: 40px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 10%;
}

.delete-all {
    width: 35px;
    height: 35px;
    margin-left: 2px;
    padding-top: 2px;
}

canvas {
    cursor: pointer;
    border-radius: 20px;
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    margin: 10px;
}

html {
    height: 100%;
    font-family: sans-serif;
    line-height: 1;
}

body {
    background-color: e8e8e8;
    height: 100%;
    margin: 0;
    padding: 10px;
}

* {
    box-sizing: border-box;
}

main {
    height: 100%;
}